<!DOCTYPE html>
<html>
	<head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
		<title>Index</title>
	</head>
	<body>
            {% for file in files %} 	
            {{file.id}} {{file.filename}}
            <br>
            {% endfor %}
            <div class="container">
                <div class="droparea">Drop Here</div>
            </div>
        <script src="{{url_for('static',filename='app.js')}}">
        </script>
	</body>
</html>

